# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [5]:
person1={"Name":"john","Gender":"Male","Occupation":"Datascientists","Location":"Nizampet,Hyderabad"}

In [6]:
person1

{'Name': 'john',
 'Gender': 'Male',
 'Occupation': 'Datascientists',
 'Location': 'Nizampet,Hyderabad'}

> print keys in person1 as a list

In [7]:
l=[]
for i in person1:
    if person1.keys():
        l.append(i)
l

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [8]:
 del person1["Location"]

In [9]:
person1

{'Name': 'john', 'Gender': 'Male', 'Occupation': 'Datascientists'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [10]:
person2={"Name":"Raghuram","Gender":"Male","Age":25,"Occupation":"Datascientists"}

In [11]:
person2

{'Name': 'Raghuram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Datascientists'}

> **`Question:` Print the output as show below**

In [12]:
x=("============b============")

In [13]:
y=({"Name":"Raghuram","Gender":"Male","Age":25,"Occupation":"Datascientists"})

In [14]:
z=("============v=============")

In [15]:
w=({'Name': 'john', 'Gender': 'Male', 'Occupation': 'Datascientists'})

In [17]:
print(x,y,z,w,sep="\n")

============b============
{'Name': 'Raghuram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Datascientists'}
============v=============
{'Name': 'john', 'Gender': 'Male', 'Occupation': 'Datascientists'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [18]:
dict={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [20]:
del dict[3]

In [29]:
dict

{}

In [22]:
dict.clear()

In [23]:
dict

{}

In [30]:
dict.pop(2)

KeyError: 2

In [1]:
d={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}.sort in descending order

In [1]:
d={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [5]:
k=list(d.keys())
v=list(d.values())

In [6]:
k.sort(reverse=True)
v.sort(reverse=True)

In [8]:
k1=[]
v1=[]
for i in range(0,len(k)):
    k1.append(k[i])
    v1.append(v[i])
d={} 
for i in range(0,len(k1)):
    d[k1[i]]=v1[i]
d

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [40]:
dict1 = { 'a': 1, 'b': 2 }

In [41]:
dict1.update( { 'b': 3, 'c': 4 })

In [42]:
dict1

{'a': 1, 'b': 3, 'c': 4}

In [43]:
dict1.update( { 'c': 5, 'd': 6 })

In [44]:
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [50]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [51]:
sample_dict["emp3"]["salary"]=8500

In [52]:
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [57]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [59]:
sampleDict["class"]["student"]["marks"]["history"]

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [60]:
dicts={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [61]:
dicts["Area"]=dicts.pop("Location")

In [62]:
dicts

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [2]:
ram=1234

In [3]:
raghu=5678

In [4]:
kanav=1357

In [5]:
if ram==1234:
    print("hello ram")
elif raghu==5678:
    print("hello ravi")
elif kanav==1357:
    print("hello kanav")
else:
    print("you want me to add into database")

hello ram